@import "tailwindcss";
body {
  /* background: var(--background);
  color: var(--foreground); */
  font-family: Arial, Helvetica, sans-serif;
}
@theme {
  --color-primary: #0e8f72;
  --color-white-1000: #fff;
  --color-primary-variant: #019e7f;
  --color-stroke: #f2f2f2;
  --color-bg: #f7f7f7;
  --color-text-title: #0d1136;
  --color-inputbg: #f1f1f1;
  --color-text-2: #606060;
  --color-greyinactive: #9e9e9e;
  --color-red: #f34336;
  --color-arrows: #323232;
  --color-hr-line: #dbdbdb;
  --color-hr-l: #dbdbdb;
  --color-orange: #f3a736;
  --color-alert-info: #0c5460;
}
